/* Body */
body
{
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

/* Header 1 Color */
h1
{
    color: #ff0033;
}

/* Right Navigation BG Color */
.navbar
{
    background-color: #e9ecee;
}

/* Container */
.container
{
    margin-top: 18px;
}
